.manage{
    min-width: 85.1vw;
    padding: 100px;
    position: absolute;
    top: 66px;
    border: 2px red solid;
}

.manage-1{
    /* min-width: 85.1vw; */
    padding: 100px;
    position: absolute;
    top: 40%;
    left: 30%;
    border: 2px red solid;
    z-index: 1000;
    background-color: rgba(128, 128, 128, 0.062);
}